QuestionForm(xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd")
  each object in microtask.objects
    Overview
      Title= task.name
      Text= task.description
      - var obj = '<![CDATA['
            each value,key in object.data
              - obj += '<b>'+key + '</b>: ' +value +'<br/>'
          - obj+= ']]>'
      FormattedContent!=obj
    each operation in microtask.operations
      -if (operation.name === 'like')
        include operationTemplates/like.jade
      -else if (operation.name === 'classify')
        include operationTemplates/classify.jade
      -else if (operation.name === 'tag')
        include operationTemplates/tag.jade
      -else if (operation.name === 'comment')
        include operationTemplates/comment.jade
      -else if (operation.name === 'fuzzyclassify')
        include operationTemplates/fuzzyclassify.jade