// Ubuntu font
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu")

// Bootstrap
link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
//link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')

// Font Awesome
link(rel='stylesheet', href='stylesheets/font-awesome.css')

style(type='text/css').
  img.logo {
    height: 150px;
  }