meta(property='og:title', content='CrowdSearcher')
meta(property='og:type', content='website')
meta(property='og:url', content='http://crowdsearcher.search-computing.net/')
meta(property='og:image', content='http://crowdsearcher.search-computing.net/')
meta(property='og:description', content='Crowdsearcher is a crowd-management system that implements a paradigm that embodies crowds and social network communities as first-class sources for the information management and extraction on the Web.')