{
  "rules": {
    "no-cond-assign": true,
    "no-constant-condition": true,
    "no-comma-dangle": true,
    "no-control-regex": true,
    "no-dupe-keys": true,
    "no-empty": true,
    "no-empty-class": true,
    "no-ex-assign": true,
    "no-extra-boolean-cast": true,
    "no-extra-semi": true,
    "no-func-assign": true,
    "no-invalid-regexp": true,
    "no-negated-in-lhs": true,
    "no-obj-calls": true,
    "no-regex-spaces": true,
    "no-sparse-arrays": true,
    "no-unreachable": true,
    "use-isnan": true,
    "valid-typeof": true,
    "consistent-return": true,
    "eqeqeq": true,
    "guard-for-in": true,
    "no-caller": true,
    "no-div-regex": true,
    "no-extend-native": true,
    "no-fallthrough": true,
    "no-implied-eval": true,
    "no-labels": true,
    "no-iterator": true,
    "no-lone-blocks": true,
    "no-multi-str": true,
    "no-native-reassign": true,
    "no-new": true,
    "no-new-func": true,
    "no-octal": true,
    "no-octal-escape": true,
    "no-proto": true,
    "no-redeclare": true,
    "no-return-assign": true,
    "no-self-compare": true,
    "no-sequences": true,
    "no-unused-expressions": true,
    "no-with": true,
    "no-yoda": true,
    "radix": true,
    "wrap-iife": [ 2, "inside" ],
    
    "no-catch-shadow": true,
    "no-delete-var": true,
    "no-label-var": true,
    "no-shadow": true,
    "no-shadow-restricted-names": true,
    "no-undef": true,
    "no-undef-init": true,
    "no-unused-vars": true,
    "no-use-before-define": true,
    
    "handle-callback-err": true,
    "no-mixed-requires": true,
    "no-path-concat": true,
    "no-process-exit": true,
    "no-sync": true,
    "brace-style": true,
    "camelcase": true,
    "consistent-this": true,
    "func-names": true,
    "max-nested-callbacks": [ 2, 4 ],
    "space-unary-word-ops": true,
    "space-return-throw-case": true,
    "space-infix-ops": true,
    "space-in-brackets": [ 2, "always" ],
    "semi": true,
    "quotes": [ 1, "single" ],
    "no-wrap-func": true,
    "no-underscore-dangle": true,
    "no-space-before-semi": true,
    "no-spaced-func": true,
    "no-new-object": true,
    "no-array-constructor": true,
    "no-nested-ternary": true,
    "new-parens": true,
    "new-cap": true,
    //"func-style": [ 2, "declaration" ],
    
    "no-plusplus": true,
    "no-bitwise": true,

    "strict": false,
    "no-global-strict": false
  },
  "env": {
    "node": true
  }
}