Question
      QuestionIdentifier= object.id + '_' + operation.id
      DisplayName Comment this object
      IsRequired true
      QuestionContent
        Text Classify the object
      AnswerSpecification
        FreeTextAnswer