Question
      QuestionIdentifier= object.id + '_' + operation.id
      DisplayName Tag this object (use the comma (,) as separator)
      IsRequired true
      QuestionContent
        Text Classify the object
      AnswerSpecification
        FreeTextAnswer