!!! 5
html(prefix="og: http://ogp.me/ns#")
  head
    base(href=appBase)
    title= data.name

    include includes/metaOpenGraph
    include includes/meta
    include includes/libCSS
  body
    .container
      .row
        .col-md-3
          a(href='http://crowdsearcher.search-computing.org/', target='_blank')
            img.img-thumbnail.img-responsive.logo(src="img/logo-cs.png",title="CrowdSearcher platform")
        .col-md-6.text-center
          h1 Completed
        .col-md-3.text-right
          a(href='http://www.polimi.it/', target='_blank')
            img.img-thumbnail.img-responsive.logo(src="img/logo-polimi.png",title="Politecnico di Milano")
      hr
      .hero-unit
        h1.text-success.text-center Thanks!
        if content
          p!= content
        else
          h2 Thanks for performing the Task 
            code= data.name
            | !