extends layout

block content
  p.lead This is the CrowdSearcher demo application.

  p See <a href="http://crowdsearcher.search-computing.org/">CrowdSearcher home</a> for more details

  p With this app you can:
    ul
      li Create Task
      li Manage them

  .alert.alert-warning
    strong
      i.fa.fa-warning(title="Alert")
      |  This is a demo application
    p Do not use it for production or data sensitive tasks because the data will be accessible to all the users that have access to the application.

  hr

  .text-center
    a.btn.btn-primary(href="manage",title="Requires login")
      i.fa.fa-lock
      |  Go to the Task Manager