!!! 5
html(prefix='og: http://ogp.me/ns#')
  head
    base(href=appBase)
    title= title
    
    block meta
      include includes/metaOpenGraph
      include includes/meta

    block libCss
      include includes/libCSS

    block css
      link(rel='stylesheet', href='stylesheets/style.css')

    block libScripts
      include includes/libJS
      
    block scripts
      script(src='javascripts/script.js')
  body
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
      .navbar-header
        button.navbar-toggle(data-toggle='collapse',data-target='.navbar-top-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href=appBase)= title

      .collapse.navbar-collapse.navbar-top-collapse
        ul.nav.navbar-nav
          li: a(href='manage') CS manager
        ul.nav.navbar-nav.navbar-right
          if user
            li: a(href='account')= user.username || user.displayName
            li: a(href='logout') Logout
          else
            li: a(href='register') Register
            li: a(href='login') Login

    .container
      header
        .row
          block header
            h1=title
      section
        block content
      footer
        include includes/footer
