extends layout

block content
  .row: .col-md-6
    form.form-horizontal(role='form',action='register', method='post')
      .form-group
        label.col-md-4.control-label(for='name') Full name
        .col-md-4
          input#name.form-control.form-control(type='text', name='name', placeholder='Name', required)
        .col-md-4
          input#surname.form-control.form-control(type='text', name='surname', placeholder='Surname', required)
      .form-group
        label.col-md-4.control-label(for='user') Username
        .col-md-8
          input#user.form-control(type='text', name='username', placeholder='Insert username', required)
      .form-group
        label.col-md-4.control-label(for='pass') Password
        .col-md-8
          input#pass.form-control(type='password', name='password', placeholder='password', required)
      .form-group
        label.col-md-4.control-label(for='mail') E-mail
        .col-md-8
          input#mail.form-control(type='email', name='email', placeholder='user@host.com', required)
      .form-group
        label.col-md-4.control-label Gender
        .col-md-8
          .radio
            label
              input(type='radio',name='gender',value='M' checked)
              |M
          .radio
            label
              input(type='radio',name='gender',value='F')
              |F
          //input#sesso.form-control(type='email', name='email', placeholder='user@host.com', required)
      .form-group
        label.col-md-4.control-label(for='age') Age Range
        .col-md-8
          select#age.form-control(name='age', required)
            option(value='<25') <25
            option(value='25-30') 25-30
            option(value='30-35') 30-35
            option(value='35-40') 35-40
            option(value='>40') >40
      .form-group
        label.col-md-4.control-label(for='country') Country
        .col-md-8
          input#country.form-control(type='text', name='country', required)
      .form-group
        label.col-md-4.control-label(for='job') Job
        .col-md-8
          select#job.form-control(name='job', required)
            option(value='student-it') Student (Information Technology)
            option(value='student-other') Student (Other)
            option(value='worker-it') Worker (Information Technology)
            option(value='worker-other') Worker (Other)
      .form-group
        label.col-md-4.control-label Modeling Expertise
        .col-md-8
          .radio
            label
              input(type='radio',name='modelingExpertise',value='none' checked)
              |Never or almost never used model driven techniques
          .radio
            label
              input(type='radio',name='modelingExpertise',value='basic')
              |Some experiences on modelling while learning at school or university
          .radio
            label
              input(type='radio',name='modelingExpertise',value='high')
              |Significant experiences of modeling projects in industry or academia
          .radio
            label
              input(type='radio',name='modelingExpertise',value='pro')
              |Extensive industrial experience in model-driven techniques
      .form-group
        label.col-md-4.control-label(for='languageExpertise') Language Specification Expertise
        .col-md-8
          select#languageExpertise.form-control(name='languageExpertise', required)
            option(value='none') None
            option(value='medium') Medium
            option(value='high') High
       .form-group
        label.col-md-4.control-label(for='bpmnExpertise') BPMN or Business Process Modeling Expertise
        .col-md-8
          select#bpmnExpertise.form-control(name='bpmnExpertise', required)
            option(value='none') None
            option(value='medium') Medium
            option(value='high') High
      .form-group
        .col-md-offset-4.col-md-8
          .btn-group
            button.btn.btn-primary(type='submit') Send
            button.btn.btn-default(type='reset') Reset