extends layout

block header
  h1 Nothing to see here...

block content
//
  .row: .col-md-6
    form.form-horizontal(role='form',action='register', method='post')
      .form-group
        label.col-md-4.control-label(for='name') Full name
        .col-md-4
          input#name.form-control.form-control(type='text', name='name', placeholder='Name', required)
        .col-md-4
          input#surname.form-control.form-control(type='text', name='surname', placeholder='Surname', required)
      .form-group
        label.col-md-4.control-label(for='user') Username
        .col-md-8
          input#user.form-control(type='text', name='username', placeholder='Insert username', required)
      .form-group
        label.col-md-4.control-label(for='pass') Password
        .col-md-8
          input#pass.form-control(type='password', name='password', placeholder='password', required)
      .form-group
        label.col-md-4.control-label(for='mail') E-mail
        .col-md-8
          input#mail.form-control(type='email', name='email', placeholder='user@host.com', required)
      .form-group
        .col-md-offset-4.col-md-8
          .btn-group
            button.btn.btn-primary(type='submit') Send
            button.btn.btn-default(type='reset') Reset