@import vendor

body
  font 12pt "Ubuntu", Verdana, Arial, sans-serif
  padding-top 70px

footer
  margin-top 2em

.vertical-center
  display inline-block
  vertical-align middle
  height 100%

.input-group
  margin-bottom: 5px

.input-group span.input-group-addon.input-small > input[type="checkbox"]
  position: relative;
  top: 2px;
.input-group span.input-group-addon.input-small+label
  border: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.428571429;
  display: table-cell;
  width: 100%;
  margin-bottom: 0;

.panel .list-group .list-group-item-heading
  cursor: pointer

.progress-bar.progress-bar-success
  color #333
  font-weight bold
  padding 0px 5px

.scrollable
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;

  &.list-group
    border 1px solid #ddd
    border-radius 4px
    .list-group-item
      border none
      border-top 1px solid #ddd
      &:first-child
        border-top none

.params
  dd
    overflow-x hidden
    text-overflow ellipsis
    word-break break-all
    white-space nowrap

.status



.entity-list
  border 1px solid #ddd
  .scrollable
    overflow-y: scroll;

  .row
    margin-left 0
    margin-right 0

    &.created
    &.opened
      background-color #DFF0D8
      &:hover
        background-color #D0E9C6
    &.finalized
    &.closed
      background-color #F2DEDE
      &:hover
        background-color #EBCCCC
    &.closed_bad
      background-color #F2DEDE
      &:hover
        background-color #EBCCCC
    &.closed_good
      background-color #F2DEDE
      &:hover
        background-color #EBCCCC

  .cell
    overflow-x hidden
    text-overflow ellipsis
    word-break break-all
    white-space nowrap


    padding 5px
    border-bottom 1px solid #ddd
    border-right 1px solid #ddd
    &:last-child
      border-right none

  .header
    .row
      margin-right 15px
    .cell
      font-weight bold
      text-align center

  .content
    .row:last-child
      .cell
        border-bottom none

    .cell
      min-height 2.5em;


.dropzone
  cursor pointer

  border-width 0.3em
  border-style dashed

  text-align center
  padding 2em 1em

  border-color gray
  background-color lightgray

  &.error
    border-color red

  &.active
    border-color green

  input[type='file']
    width 0
    height 0
    //position fixed
    //top -20em
    //left -20em