body {
  font: 12pt "Ubuntu", Verdana, Arial, sans-serif;
  padding-top: 70px;
}
footer {
  margin-top: 2em;
}
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.input-group {
  margin-bottom: 5px;
}
.input-group span.input-group-addon.input-small > input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.input-group span.input-group-addon.input-small+label {
  border: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.428571429;
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
}
.panel .list-group .list-group-item-heading {
  cursor: pointer;
}
.progress-bar.progress-bar-success {
  color: #999;
}
.scrollable {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable.list-group {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.scrollable.list-group .list-group-item {
  border: none;
  border-top: 1px solid #ddd;
}
.scrollable.list-group .list-group-item:first-child {
  border-top: none;
}
.params dd {
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.status,
.entity-list {
  border: 1px solid #ddd;
}
.status .scrollable,
.entity-list .scrollable {
  overflow-y: scroll;
}
.status .row,
.entity-list .row {
  margin-left: 0;
  margin-right: 0;
}
.status .row.created,
.entity-list .row.created,
.status .row.opened,
.entity-list .row.opened {
  background-color: #dff0d8;
}
.status .row.created:hover,
.entity-list .row.created:hover,
.status .row.opened:hover,
.entity-list .row.opened:hover {
  background-color: #d0e9c6;
}
.status .row.finalized,
.entity-list .row.finalized,
.status .row.closed,
.entity-list .row.closed {
  background-color: #f2dede;
}
.status .row.finalized:hover,
.entity-list .row.finalized:hover,
.status .row.closed:hover,
.entity-list .row.closed:hover {
  background-color: #ebcccc;
}
.status .row.closed_bad,
.entity-list .row.closed_bad {
  background-color: #f2dede;
}
.status .row.closed_bad:hover,
.entity-list .row.closed_bad:hover {
  background-color: #ebcccc;
}
.status .row.closed_good,
.entity-list .row.closed_good {
  background-color: #f2dede;
}
.status .row.closed_good:hover,
.entity-list .row.closed_good:hover {
  background-color: #ebcccc;
}
.status .cell,
.entity-list .cell {
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.status .cell:last-child,
.entity-list .cell:last-child {
  border-right: none;
}
.status .header .row,
.entity-list .header .row {
  margin-right: 15px;
}
.status .header .cell,
.entity-list .header .cell {
  font-weight: bold;
  text-align: center;
}
.status .content .row:last-child .cell,
.entity-list .content .row:last-child .cell {
  border-bottom: none;
}
.status .content .cell,
.entity-list .content .cell {
  min-height: 2.5em;
}
.dropzone {
  cursor: pointer;
  border-width: 0.3em;
  border-style: dashed;
  text-align: center;
  padding: 2em 1em;
  border-color: #808080;
  background-color: #d3d3d3;
}
.dropzone.error {
  border-color: #f00;
}
.dropzone.active {
  border-color: #008000;
}
.dropzone input[type='file'] {
  width: 0;
  height: 0;
}
