extends layout

block append css
  link(rel='stylesheet', href='stylesheets/dashboard.css')

block append libScripts
  script(src='libs/underscore.js 1.5.2.js')
  script(src='libs/highcharts.js')

block append scripts
  script(src='javascripts/dashboard.js')

block header
  h1 Dashboard

block content
  #graphs
    #donut