extends layout

block header
  h1 CS manager

block content
  p Allow to manage the CS entities!!!
  ul
    li: a(href="manage/jobs") See list of jobs.
    li: a(href="manage/job/new") Create a new Job.
    li: a(href="manage/task/new") Create a new Task.
