extends layout

include ../includes/metadata
include ../includes/status

block header
  .row
    .col-md-8
      h1.name Task
    .col-md-4.text-right
      .btn-group
        a#preview.btn.btn-default(href='#') Preview 
          i.fa.fa-file-text-o
        a#send.btn.btn-success(href='manage/task/new') Send 
          i.fa.fa-envelope-o
        a#reset.btn.btn-warning(href='#') Reset 
          i.fa.fa-refresh
  hr
block content
  .text-center: h2 Task details

  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#home",data-toggle="collapse",data-parent="#accordion") Task info
      #home.panel-collapse.collapse.in
        .panel-body
          include task/home
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#landing",data-toggle="collapse",data-parent="#accordion") Landing page
      #landing.panel-collapse.collapse
        .panel-body
          .form-group
            label(for='landing_md') Landing
            textarea#landing_md.form-control(rows=10)
            p.help-block Insert 
              a(href='http://daringfireball.net/projects/markdown/syntax', target='_blank') markdown
              |  here
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#ending",data-toggle="collapse",data-parent="#accordion") Ending page
      #ending.panel-collapse.collapse
        .panel-body
          .form-group
            label(for='ending_md') Ending
            textarea#ending_md.form-control(rows=10)
            p.help-block Insert 
              a(href='http://daringfireball.net/projects/markdown/syntax', target='_blank') markdown
              |  here



    .text-center: h2 Operations

    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#operations",data-toggle="collapse",data-parent="#accordion") Operations
      #operations.panel-collapse.collapse
        .panel-body
          include task/operations



    .text-center: h2 Platforms

    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#platforms",data-toggle="collapse",data-parent="#accordion") Platforms
      #platforms.panel-collapse.collapse
        .panel-body
          include task/platforms
    


    .text-center: h2 Input data

    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#data",data-toggle="collapse",data-parent="#accordion") Data input
      #data.panel-collapse.collapse
        .panel-body
          include task/data_input



    .text-center: h2 Planning

    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#splitting",data-toggle="collapse",data-parent="#accordion") Splitting strategy
      #splitting.panel-collapse.collapse
        .panel-body
          include task/splitting
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#assignment",data-toggle="collapse",data-parent="#accordion") Assignment strategy
      #assignment.panel-collapse.collapse
        .panel-body
          include task/assignment
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#implementation",data-toggle="collapse",data-parent="#accordion") Implementation strategy
      #implementation.panel-collapse.collapse
        .panel-body
          include task/implementation
    


    .text-center: h2 Execution control

    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#object-control",data-toggle="collapse",data-parent="#accordion") Object control strategy
      #object-control.panel-collapse.collapse
        .panel-body
          include task/object_control
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#performer-control",data-toggle="collapse",data-parent="#accordion") Performer control strategy
      #performer-control.panel-collapse.collapse
        .panel-body
          include task/performer_control
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#task-control",data-toggle="collapse",data-parent="#accordion") Task control strategy
      #task-control.panel-collapse.collapse
        .panel-body
          include task/task_control
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#custom-control",data-toggle="collapse",data-parent="#accordion") Custom control rule
      #custom-control.panel-collapse.collapse
        .panel-body
          include task/rule
    .panel.panel-default
      .panel-heading
        a.accordion-toggle(href="#rule-control-panel",data-toggle="collapse",data-parent="#accordion") Execution control panel
      #rule-control-panel.panel-collapse.collapse
        .panel-body
          h3 Execution control panel
          ul#task_rule_list.list-group

  // Load scripts
  script(src='javascripts/new_task.js')