extends ./layout

block append css
  style(type='text/css').
    .panel {
      margin-bottom: 0;
      border: none;
      box-shadow: none;
    }

block append lateScripts
  script.
    $( '#action' ).change( function() {
      $( '#actions .collapse' ).slideUp();
      $( '#'+this.value ).slideDown();
    } );
    $( '#btn_add_rule' ).click( function() {
      var $li = $( 'li' );
      $li.addClass( 'list-group-item' );
      var when = $( '#when' ).val();
      var when_op = $( '#when_op' ).val();
      var when_val = $( '#when_val' ).val();
      $li.text( when+when_op+when_val );

      console.log( when, when_op, when_val );
      $( '#selected_rules' ).append( $li );
    } );

block content

  .row
    .col-md-6
      h2 Adaptation rule:

      table.table.table-condensed.table-bordered
        thead: tr
          th: b WHEN:
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label WHEN:
          #template
            .col-sm-4
              select.form-control(title='Selected the condition')
                option None
                optgroup(label='Task')
                  option(value='Task.quality') Task.quality
                  option(value='Task.#executions') Task.#executions
                  option(value='Task.#closedExecutions') Task.#closedExecutions
                  option(value='Task.#invalidExecutions') Task.#invalidExecutions
                  option(value='Task.activeTime') Task.activeTime
                  option(value='Task.idleTime') Task.idleTime
                  option(value='Task.#openObjects') Task.#openObjects
                  option(value='Task.#closedObjects') Task.#closedObjects

                optgroup(label='Object')
                  option(value='Object.quality') Object.quality
                  option(value='Object.#executions') Object.#executions
                  option(value='Object.#closedExecutions') Object.#closedExecutions
                  option(value='Object.#invalidExecutions') Object.#invalidExecutions
                  option(value='Object.#answers') Object.#answers

                optgroup(label='Performer')
                  option(value='Performer.quality') Performer.quality
                  option(value='Performer.#executions') Performer.#executions
                  option(value='Performer.#closedExecutions') Performer.#closedExecutions
                  option(value='Performer.#invalidExecutions') Performer.#invalidExecutions
                  option(value='Performer.idleTime') Performer.idleTime
                  option(value='Performer.activeTime') Performer.activeTime

                optgroup(label='Platform')
                  option(value='Platform.quality') Platform.quality
                  option(value='Platform.#executions') Platform.#executions
                  option(value='Platform.#closedExecutions') Platform.#closedExecutions
                  option(value='Platform.#invalidExecutions') Platform.#invalidExecutions
                  option(value='Platform.idleTime') Platform.idleTime
                  option(value='Platform.activeTime') Platform.activeTime

                optgroup(label='Community')
                  option(value='Community.quality') Community.quality
                  option(value='Community.#executions') Community.#executions
                  option(value='Community.#closedExecutions') Community.#closedExecutions
                  option(value='Community.#invalidExecutions') Community.#invalidExecutions
                  option(value='Community.idleTime') Community.idleTime
                  option(value='Community.activeTime') Community.activeTime
            .col-sm-2
              select.form-control(title='Select the operator for the condition')
                option(value='>') &gt;
                option(value='<') &lt;
                option(value='<=') &lt;=
                option(value='>=') &gt;=
            .col-sm-3
              input.form-control(type='number',title='Insert the value')
            .col-sm-1
              button(type='button').btn.btn-success.btn-sm
                i.fa.fa-plus
        .form-group
          label.col-sm-2.control-label(for='action') DO:
          .col-sm-10
            select#action.form-control(data-parent='#actions')
              option None
              option(value='createTask') createTask
              option(value='addOperation') addOperation
              option(value='plan') plan
              option(value='invite') invite
              option(value='replan') replan
              option(value='reinvite') reinvite
      #actions
        .panel: div.collapse(id='createTask')
          h3 Configure params for createTask
        .panel: div.collapse(id='addOperation')
          h3 Configure params for addOperation
        .panel: div.collapse(id='plan')
          h3 Configure params for plan
        .panel: div.collapse(id='invite')
          h3 Configure params for invite
        .panel: div.collapse(id='replan')
          h3 Configure params for replan
        .panel: div.collapse(id='reinvite')
          h3 Configure params for reinvite

      .text-right
        button#btn_add_rule(type='button').btn.btn-success Add 
          i.fa.fa-plus
    .col-md-6
      h2 Selected rules
      ul#selected_rules.list-group