extends ../layout

block header
  ul.nav.nav-tabs.nav-justified
    for page, idx in pageList
      li(class=idx===index? 'active':'')
        a.text-muted= pageMap[page]


block prepend footer
  .row
    .col-md-6
      if prevPage
        a(href='manage/wizard/'+prevPage).btn.btn-primary Prev
      else
        a(href='#', disabled).btn.btn-default Prev
    .col-md-6.text-right
      if nextPage
        a(href='manage/wizard/'+nextPage).btn.btn-primary Next
      else
        a(href='#', disabled).btn.btn-default Next
  hr

